<!DOCTYPE html>
<html>
  <head>
    <title>Brownie Recipe</title>
  </head>
  <body>
    <h1>Bupama's Brownies</h1>
    <p>Preheat the oven to 350 F.</p>
    <ul>
      <li>2 oz unsweetened chocolate, chopped</li>
      <li>1/2 cup unsalted butter</li>
      <li>2/3 cups granulated sugar</li>
      <li>1 cup flour</li>
      <li>1 1/2 tsp baking powder</li>
      <li>1/2 tsp salt</li>
      <li>1/2 cup milk</li>
      <li>1 tsp vanilla</li>
      <li>2/3 cup granulated sugar</li>
      <li>1/2 cup firmly packed brown sugar</li>
      <li>3 rounded tbsp unsweetened cocoa</li>
      <li>1 1/4 cups boiling water</li>
      <li>1 tsp vanilla</li>
    </ul>
  </body>
</html>
