<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>My website</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
  </head>
  <body>
    <div id="header">
      <a class="pagelink" href="recommendations">Recommendations</a>
      <a id="profilepic" class="pagelink" href="yourbooks">Your Books</a>
      <!--<a class="pagelink" href="profile"><img src="static/profile.png" alt="Profile" /></a>-->
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
