{% extends "base.html" %}
{% block head %}
  <title>Home</title>
{% endblock %}

{% block body %}

<!--Goodreads Currently Reading widget-->
<div id="gr_custom_widget_1636691061">
  <div class="gr_custom_container_1636691061">
<h2 class="gr_custom_header_1636691061">
<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/101586109-jane?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">jane's bookshelf: currently-reading</a>
</h2>
<div class="gr_custom_each_container_1636691061">
  <div class="gr_custom_book_container_1636691061">
    <a title="Firekeeper's Daughter" rel="nofollow" href="https://www.goodreads.com/review/show/4169134967?utm_medium=api&amp;utm_source=custom_widget"><img alt="Firekeeper's Daughter" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595093218l/52346471._SY75_.jpg" /></a>
  </div>
  <div class="gr_custom_title_1636691061">
    <a rel="nofollow" href="https://www.goodreads.com/review/show/4169134967?utm_medium=api&amp;utm_source=custom_widget">Firekeeper's Daughter</a>
  </div>
  <div class="gr_custom_author_1636691061">
    by <a rel="nofollow" href="https://www.goodreads.com/author/show/19633027.Angeline_Boulley">Angeline Boulley</a>
  </div>
</div>
<div class="gr_custom_each_container_1636691061">
  <div class="gr_custom_book_container_1636691061">
    <a title="Guards! Guards! (Discworld, #8; City Watch #1)" rel="nofollow" href="https://www.goodreads.com/review/show/4313472810?utm_medium=api&amp;utm_source=custom_widget"><img alt="Guards! Guards!" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1431127356l/64216._SY75_.jpg" /></a>
  </div>
  <div class="gr_custom_title_1636691061">
    <a rel="nofollow" href="https://www.goodreads.com/review/show/4313472810?utm_medium=api&amp;utm_source=custom_widget">Guards! Guards!</a>
  </div>
  <div class="gr_custom_author_1636691061">
    by <a rel="nofollow" href="https://www.goodreads.com/author/show/1654.Terry_Pratchett">Terry Pratchett</a>
  </div>
</div>
<br style="clear: both"/>
<center>
<a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
</center>
<noscript>
Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with jane, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
</noscript>
</div>

</div>
<script src="https://www.goodreads.com/review/custom_widget/101586109.jane's%20bookshelf:%20currently-reading?cover_position=left&cover_size=small&num_books=5&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=2&widget_id=1636691061&widget_text_color=000000&widget_title_size=medium&widget_width=thin" type="text/javascript" charset="utf-8"></script>
{% endblock %}
