{% extends "base.html" %}
{% block head %}
  <title>Home</title>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-9 m-auto" style="max-width: 600px">
    Welcome to my website! Check out the recommendations page to see book recommendations in a variety of genres. Create or log in to your account by going to the profile page. See books you have saved by going to your books. Save books by searching for them and clicking the 'save book' button. Check out my reviews if you see the 'review' button.
  </div>
  <!--Goodreads Updates widget-->
  <div class="col-3 d-flex flex-column align-items-center">
    <div id="gr_updates_widget">
      <iframe id="the_iframe" src="https://goodreads.com/widgets/user_update_widget?height=500&num_updates=10&user=101586109&width=300" width="300" height="675"></iframe>
    </div>
  </div>
</div>


{% endblock %}
