{% extends "base.html" %}
{% block head %}
  <title>Home</title>
{% endblock %}

{% block body %}

<!--Goodreads Currently Reading widget-->
<div class="row">
<div class="col-9">
</div>

<div class="col-3 d-flex flex-column align-items-center">
  <div id="gr_updates_widget">
    <iframe id="the_iframe" src="https://goodreads.com/widgets/user_update_widget?height=500&num_updates=10&user=101586109&width=300" width="300" height="500" frameborder="0"></iframe>
  </div>
</div>
</div>


{% endblock %}
