{% extends "base.html" %}
{% block head %}
  <title>Login</title>
{% endblock %}

{% block body %}
  {% if error %}
    <div class="alert alert-danger" role="alert">
      Username or password is incorrect.
    </div>
  {% endif %}
  <form method="POST" action="login">
    Username: <input type="text" name="username" required>
    <br/>
    Password:  <input type="password" name="password" required>
    <br/>
    <input class="btn btn-dark" type="submit" value="login">
  </form>
  Don't have an account? <a href="signup">Sign up here!</a>
{% endblock %}
