{% extends "base.html" %}
{% block head %}
  <title>Recommendations</title>
{% endblock %}

{% block body %}
  {% for row in rows %}
    <div class="row row-cols-3 justify-items-center">
      {% for item in row %}
        <div class="col-4 gx-0 gy-5 ms-5 me-5 card align-self-start" style="max-width: 24rem;">
          <h5 class="card-header display-6">{{item[0]}}</h5>
          <ul class="list-group list-group-flush">
            {% for r in item[1] %}
              <li class="list-group-item">{{r}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
