{% extends "base.html" %}
{% block head %}
  <title>Recommendations</title>
{% endblock %}

{% block body %}
<div class="row g-0 justify-content-around">
  {% for item in items %}
    <div class="col-4 card mb-5" style="max-width: 29rem;">
      <h5 class="card-header display-6">{{item[0]}}</h5>
      <ul class="card-body list-group list-group-flush">
        {% for r in item[1] %}
          <li class="list-group-item d-flex">
            {{r[0]}}
            <button id="{{r[1]}}" class="btn btn-dark ms-auto" onclick="addBook(this.id)">save book</button>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

{% endblock %}
