{% extends "base.html" %}
{% block head %}
  <title>Search Results</title>
{% endblock %}

{% block body %}
  {% if books != None %}
    {% for book in books %}
    <div class="">
      {% if book['img'] != None %}
        <img src={{book['img']}} alt=cover />
      {% endif %}
      <p>Title: {{book['title']}}</p>
      <p>Author: {{book['author']}}</p>
      <p>Description: {{book['description']}}</p>
      <hr/>
    </div>

    {% endfor %}
  {% else %}
    <p>There are no results to display.</p>
  {% endif %}
{% endblock %}
