{% extends "base.html" %}
{% block head %}
  <title>Search Results</title>
{% endblock %}

{% block body %}
  {% if books != None %}
    {% for book in books %}
      <div class="card m-5 p-3 text-dark bg-light">
        <div class="row g-0">
          <div class="col-md-2">
            {% if book['img'] != None %}
              <img class="img-fluid rounded-start" src="{{book['img']}}" alt=cover />
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{book['title']}} by {{book['author']}}</h5>
              <p class="card-text">{{book['description']}}</p>
            </div>
            <button id="{{book['id']}}" class="btn btn-outline-dark" onclick="addBook(this.id)">save book</button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>There are no results to display.</p>
  {% endif %}
{% endblock %}
