  #customize-list
  {
    float: left;
    margin-left: 20px;
    list-style: none;
    overflow: hidden;
  }

  #gr_updates_widget
  {
    float: left;
    border-radius: 5px;
    background-color: #fff;
    border: solid #363636 2px;
    padding: 15px 0 0px 15px;
    width: 320px;
    height: 100%;
    overflow: hidden;
  }

  #gr_updates_widget p
  {
    padding: 0px;
    margin: 0;
    font-size: 14px;
  }
